:root {
  --primary-light: #d4e6a5;
  --primay-color: #476a2e;
  --primary-dark: #c02c03;
  --main-white: #fff;
  --off-white: #f7f7f7;
  --main-background: #f1f5f8;
  --main-overlay: rgba(35, 10, 36, 0.4);
  --main-black: #222;
  --main-grey: #ececec;
  --dark-grey: #afafaf;
  --main-red: #bd0303;
  --main-transition: all 0.3s linear;
  --main-spacing: 0.3rem;
  --light-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --dark-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --main-border-radius: 0.25rem;
  --small-width: 85vw;
  --max-width: 40rem;
  --full-width: 1170px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--main-black);
  background-color: var(--main-background);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.25rem;
  letter-spacing: var(--main-spacing);
}

p {
  margin-bottom: 1.25rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

/* navbar */

.navbar {
  background: var(--main-white);
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--primay-color);
  box-shadow: var(--light-shadow);
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--small-width);
  margin: 0 auto;
  max-width: var(--full-width);
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
  transition: var(--main-transition);
}

.nav-links a:hover {
  color: var(--primay-color);
}

.logo {
  width: 12rem;
}

/* about page */

.about-section {
  width: var(--small-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.about-section h1 {
  text-transform: capitalize;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 1rem;
}

/* button */
.btn,
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--main-spacing);
  color: var(--primay-color);
  border: 2px solid var(--primay-color);
  padding: 0.4rem 0.8rem;
  display: inline-block;
  transition: var(--main-transition);
  cursor: pointer;
  background: transparent;
  border-radius: var(--main-border-radius);
}

.btn:hover {
  background-color: var(--primay-color);
  color: var(--main-white);
}
.btn-primary {
  background-color: var(--primay-color);
  color: var(--main-white);
  border-color: transparent;
}

.btn-primary:hover {
  background-color: var(--primary-light);
  color: var(--primay-color);
}
.btn-details {
  padding: 0.24rem 0.4rem;
}

/* error page */

.error-page {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.error-container {
  text-align: center;
  text-transform: capitalize;
}

.error-container h1 {
  letter-spacing: 2px;
}

.loader,
.loader::before,
.loader::after {
  background-color: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  position: absolute;
  top: 0;
  content: "";
}

.loader {
  color: var(--primay-color);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 2rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

/* .loader::before,
.loader::after {
  position: absolute;
  top: 0;
  content: "";
} */

.loader::before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader::after {
  left: 1.5em;
  -webkit-animation-delay: 0.48s;
  animation-delay: 0.48s;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--main-spacing);
  text-align: center;
  margin-top: 1rem;

  margin-bottom: 3.5rem;
}

/* cocktails */

.cocktails-center {
  width: var(--small-width);
  margin: 0 auto;
  max-width: var(--full-width);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
}
@media screen and (min-width: 576px) {
  .cocktails-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

.cocktail {
  background: var(--main-white);
  margin-bottom: 2rem;
  box-shadow: var(--light-shadow);
  transition: var(--main-transition);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--main-border-radius);
}

.cocktail:hover {
  box-shadow: var(--dark-shadow);
}

.cocktail img {
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: var(--main-border-radius);
  border-top-right-radius: main-radius;
}

.cocktail-footer {
  padding: 1.5rem;
}

.cocktail-footer h4,
.cocktail-footer h3 {
  letter-spacing: 1.5px;
}
.cocktail-footer h3,
.cocktail-footer h4,
.cocktail-footer p {
  margin-bottom: 0.3rem;
}

/* serach form */

.section-search {
  margin-top: 1rem;
  padding-bottom: 0;
}

.search-form {
  width: var(--small-width);
  max-width: var(--max-width);
  margin: 0 auto;
  background: var(--main-white);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--main-border-radius);
  box-shadow: var(--light-shadow);
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--primay-color);
}

.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: var(--main-background);
  border-radius: var(--main-border-radius);
  padding: 0.5rem;
  font-size: 1.2rem;
}

/* cocktail */

.cocktail-section {
  text-align: center;
}

.section {
  padding: 5rem 0;
}

.drink {
  width: var(--small-width);
  max-width: var(--full-width);
  margin: 0 auto;
  text-align: left;
}

.drink img {
  border-radius: var(--main-border-radius);
}

.drink p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}
.drink span {
  margin-right: 0.5rem;
}

.drink-data {
  background-color: var(--primary-light);

  padding: 0.25rem 0.5rem;
  border-radius: var(--main-border-radius);
  color: var(--primay-color);
}

.drink-info {
  padding-top: 2rem;
}

@media screen and (min-width: 992px) {
  .drink {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }

  .drink-info {
    padding-top: 0;
  }
}
